{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/account.css' %}">
    <title>Wallet</title>
</head>
<body class="wallet">
    {% block content %}
    <a href="home.html">
        <img src="{% static 'website/images/logo.png' %}">
    </a>
    <form action="create_wallet" method="post" class="wallet1">
        {% csrf_token %}
        <div class="wallet1">
            <input type="email" name="email" placeholder="Email"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <button type="submit" class="submit">Create wallet</button>
        </div>
       
    </form>
    {% endblock content %}
</body>
</html>